# The following was generated with gitignore.nvim: #
#--------------------------------------------------#
# Gitignore for the following technologies: Xcode

## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

/build
/*.app

# Test coverage
coverage.json
coverage.lcov
coverage-html/
test_output*.txt
result*.json
*.log
